/Inheritance.class
/Animal.class
/Bird.class
/AnimalTest.class
/Sparrow.class
/String2.class
/Value.class
/ValueTest.class
/ClassA.class
/ClassB.class
/ClassC.class
/ClassTest2.class
/ClassTest.class
/ClassTest3.class
/ValuTest.class
/ValueTest2.class
